.flip-container {
    perspective: 1000px;
}
.flipper{
    position: relative;
    transition: transform 0.2s;
    transform-style: preserve-3d;
}
.container .pokedex:hover .card{
    transform: rotateY(180deg);
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}