.container .pokedex .card .steel {
    background-color: #b9bbcf;
    
}

.container .pokedex .card .fire {
    background-color: #ef8130;
    
}

.container .pokedex .card .grass {
    background-color: #7cc553;
    
}

.container .pokedex .card .electric {
    background-color: #f9f270;
    
}

.container .pokedex .card .water {
    background-color: #7490d4;
    
}
.container .pokedex .card .ice {
    background-color: #9ad7d7;
}

.container .pokedex .card .ground {
    background-color: #dfbe6e;
    
}

.container .pokedex .card .rock {
    background-color: #856A21;
    
}

.container .pokedex .card .fairy {
    background-color: #ff69cf;
    
}

.container .pokedex .card .poison {
    background-color: #954c92;
    
}

.container .pokedex .card .bug {
    background-color: #adb336;
    
}

.container .pokedex .card .dragon {
    background-color: #6f4cae;
    
}

.container .pokedex .card .psychic {
    background-color: #df6382;
    
}

.container .pokedex .card .flying {
    background-color: #a992e8;
    
}

.container .pokedex .card .fighting {
    background-color: #a03336;
    
}

.container .pokedex .card .normal {
    background-color: #a8a878;
}

.container .pokedex .card .ghost {
    background-color: #6e5888;
}

.container .pokedex .card .dark {
    background-color: #6d5949;
}

/*color card*/
.container .pokedex .steel {
    background-color: #f4f4f4;
    list-style-type: none;
}

.container .pokedex .fire {
    background-color: #FDDFDF;
    list-style-type: none;
}

.container .pokedex .grass {
    background-color: #DEFDE0;
    list-style-type: none;
}

.container .pokedex .electric {
    background-color: #FCF7DE;
    list-style-type: none;
}

.container .pokedex .water, .ice {
    background-color: #DEF3FD;
    list-style-type: none;
}

.container .pokedex .ground {
    background-color: #f4e7da;
    list-style-type: none;
}

.container .pokedex .rock {
    background-color: #d5d5d4;
    list-style-type: none;
}

.container .pokedex .fairy {
    background-color: #fceaff;
    list-style-type: none;
}

.container .pokedex .poison {
    background-color: #98d7a5;
    list-style-type: none;
}

.container .pokedex .bug {
    background-color: #f8d5a3;
    list-style-type: none;
}

.container .pokedex .dragon {
    background-color: #97b3e6;
    list-style-type: none;
}

.container .pokedex .psychic {
    background-color: #eaeda1;
    list-style-type: none;
}

.container .pokedex .flying {
    background-color: #F5F5F5;
    list-style-type: none;
}

.container .pokedex .fighting {
    background-color: #E6E0D4;
    list-style-type: none;
}

.container .pokedex .normal {
    background-color: #F5F5F5;
    list-style-type: none;
}
.container .pokedex .ghost {
    background-color: #eee;
    list-style-type: none;
}
.container .pokedex .dark {
    background-color: #666;
    list-style-type: none;
}
